* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.max-width-wrapper {
  max-width: 560px;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding: 16px;
  color: hsl(0deg, 0%, 10%);
  max-width: 300px;
}

.intro-chunk strong {
  color: hsl(160deg, 100%, 30%);
}

.title {
  color: hsl(0deg, 0%, 0%);
}

main {
  height: 80%;
  background-color: hsl(0deg, 0%, 60%);
  border-top: solid hsl(0deg, 0%, 40%) 8px;
  padding-top: 48px;
}

.card {
  background-color: hsl(0deg, 0%, 100%);
  padding: 16px;
  border-bottom: solid hsl(0deg, 0%, 40%) 8px;
}

.indented-heading {
  background-color: hsl(45deg, 100%, 60%);
  border-bottom: solid hsl(45deg, 100%, 40%) 8px;
  padding: 16px 32px;
  margin-left: -32px;
  margin-top: -8px;
}

/* Add styles here! */
